In [5]:
from sqlalchemy import create_engine

import pymysql

import pandas as pd
# Credentials to database connection
hostname="localhost"
dbname="Superstore"
uname="root"
pwd="thanmai123"

# create dataframe from csv file
Fitbit= pd.read_csv("C:/Users/Thanmai/INEURON//FitBit data.csv")

# Create SQLAlchemy engine to connect to MySQL Database
engine = create_engine('mysql+pymysql://root:thanmai123@localhost:3306/Superstore'
        .format(host='localhost', database='Superstore', user='root', password='thanmai123'))


# Convert dataframe to sql table                                   
Fitbit.to_sql('Fitbit', engine, index=False)

Fitbit = pd.read_sql_query("SELECT * FROM Fitbit", engine)
Fitbit.head()

C:\Users\Thanmai\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'Fitbit' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,3/25/2016,11004,7.11,7.11,0.0,2.57,0.46,4.07,0.0,33,12,205,804,1819
1,1503960366,3/26/2016,17609,11.55,11.55,0.0,6.92,0.73,3.91,0.0,89,17,274,588,2154
2,1503960366,3/27/2016,12736,8.53,8.53,0.0,4.66,0.16,3.71,0.0,56,5,268,605,1944
3,1503960366,3/28/2016,13231,8.93,8.93,0.0,3.19,0.79,4.95,0.0,39,20,224,1080,1932
4,1503960366,3/29/2016,12041,7.85,7.85,0.0,2.16,1.09,4.61,0.0,28,28,243,763,1886